/* regole generali */
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Lato', sans-serif;
}

body {
 min-height: 100vh;
}

/* contenitore generale */
.container{
 width: 1070px;
 height: 100%;
 margin: 0 auto;
}

/* navbar */
header{
 width: 100%;
 height: 70px;
 padding: 20px;
 border: 1px solid black;
}

/* searchbar */

.search{
display:flex;
justify-content: flex-end;
}

input{
height: 30px;
}

button{
 padding: 7px;
}

/* main */
.main{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
 padding: 100px 0;
}

/* box film */
.film{
 display: flex;
 justify-content: flex-start;
 align-items: center;
 flex-direction: column;
 flex-basis: 200px;
 padding: 20px;
 margin: 10px 20px;
 height: 360px;
 text-align: center;
 border: 1px solid black;
}

/* titoli film */
.movies h3 {
 margin: 20px 0;
 color: white;
 font-size: 22px;
 text-transform: uppercase;
}
