/* regole generali */
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Lato', sans-serif;
}

body {
 min-height: 100vh;
background-color: grey;
}

.container{
 width: 1070px;
 height: 100%;
 margin: 0 auto;
}

/* navbar */
header{
 width: 100%;
 height: 70px;
 padding: 16px;
 background-color: black;
}

header img {
 height: 48px;
}

.nav{
 display: flex;
 justify-content: space-between;
}

/* searchbar */
input{
height: 28px;
border-radius: 3px;
}

button{
 padding: 7px;
 border-radius: 5px;
 background-color: red;
 color: white;
}

/* main */
.main{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
 padding: 100px 0;
}

/* box film */
.film{
 display: flex;
 justify-content: flex-start;
 align-items: center;
 flex-direction: column;
 flex-basis: 200px;
 padding: 20px;
 margin: 10px 20px;
 height: 360px;
 text-align: center;
 border: 1px solid black;
}

/* titoli film */
h3 {
 margin: 10px 0;
 font-size: 20px;
 text-transform: uppercase;
}


/* bandiera */
.film img{
 max-width:15%;
}
