/* regole generali */
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Lato', sans-serif;
}

body {
 min-height: 100vh;
 position: relative;
 background-color: #220f19;
}

/* navbar */
header{
 height: 80px;
 padding: 16px;
 background-color: black;
}

/* logo booflix */
header img {
 height: 48px;
}

/* navbar */
.nav{
 display: flex;
 justify-content: space-between;
 margin-left: 40px;
 margin-right: 40px;
}

/* input searchbar */
.cerca{
 margin-top: 8px;
}

input{
 height: 28px;
 border-radius: 3px;
}

button{
 padding: 7px;
 border-radius: 5px;
 background-color: red;
 color: white;
}

.invisible{
position: absolute;
top: 450px;
left: 350px;
transform: translate(-50%, -50%);
font-size: 30px;
line-height:90px;
font-weight: bold;
color: white;
}

body > div > div.invisible > p:nth-child(1){
 font-size: 70px;
 font-weight: bold;
}

body > div > img{
 opacity: 0.5;
 max-width: 1440px;
}

.but-anteprima{
 font-size: 26px;
 cursor: pointer;
}

/* main */
.main{
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 50px;
 flex-wrap: wrap;
 max-height: 400px;
 overflow-x:auto;
}

#selezione-film, #selezione-tv{
 color: white;
 font-size: 50px;
 font-weight: bold;
 margin: 20px;
 display: none;
}

/* box film */
.film{
 display: flex;
 justify-content: flex-start;
 align-items: center;
 flex-direction: column;
 flex-basis: 200px;
 padding: 15px;
 margin: 20px 20px;
 height: 360px;
 text-align: center;
 position: relative;
}

.foto-copertina{
 max-width: 130%;
 max-height: 130%;
}

.foto-copertina:hover{
 opacity: 0.2;
 border: 1px solid red;
}

/* didascalia */
.didascalia{
 display: flex;
 flex-direction: column;
 color: white;
 width: 100%;
 margin: 40px;
 overflow-y:auto;
}

.ms-didascalia{
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50% ,-50%);
 visibility: hidden;
 width: 219px;
 height: 180px;
 color: white;
 overflow-y: auto;
 display: flex;
 flex-direction: column;
 justify-content: center;
}

/* anteprima main superiore */
.anteprima{
 height: 500px;
 width: 800px;
 border: 1px solid white;
 margin-left: 300px;
 margin-top: 30px;
 display: flex;
 flex-direction: row;
 display: none;
}

.anteprima:hover{
 filter: brightness(1.5);
}

/* Immagine di copertina di anteprima */
body > div > div.anteprima > img{
 max-height: 100%;
 width: auto;
}

/* titoli film */
h3 {
 margin: 5px 0;
 font-size: 18px;
 text-transform: uppercase;
 color: white;
}

/* stelline */
.my_star{
 color: #bab64c;
 opacity:0.9;
}

/* bandiera */
span.original-lang > img{
 max-width:15%;
}
